.vs
x64

CameraModel/x64
CameraModel/CameraModel.vcxproj
CameraModel/CameraModel.vcxproj.filters
CameraModel/CameraModel.vcxproj.user
CameraModel/dllmain.cpp
CameraModel/framework.h
CameraModel/pch.cpp
CameraModel/pch.h

CalculateImageDepth/x64
CalculateImageDepth/CalculateImageDepth.vcxproj
CalculateImageDepth/CalculateImageDepth.vcxproj.filters
CalculateImageDepth/CalculateImageDepth.vcxproj.user
CalculateImageDepth/dllmain.cpp
CalculateImageDepth/framework.h
CalculateImageDepth/pch.cpp
CalculateImageDepth/pch.h

CameraModelTest/x64
CameraModelTest/CameraModelTest.vcxproj
CameraModelTest/CameraModelTest.vcxproj.filters
CameraModelTest/CameraModelTest.vcxproj.user
CameraModel.sln
build
output
